.card{
    border-width: 5px;
    border-style: solid;
    
    
    height: 400px;
    width: 180px;
    background-color: wheat;
    display: inline-block;
    margin-top: 12px;
    border-radius: 20px;
}
.image{
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.detail{
    padding-top: 10px;
     font-weight: bold;
     padding-left: 5px;
}
.button{
    margin-top: 50px;
    padding-left: 50px;
     
}
.header{
    padding-top: 12px;
    padding-left: 25px;
    color: black;
}
#card2 .header{
color:red;
}
#card6 .header{
color:red;
}
#card8 .header{
color:red;
}