.img{
    padding: auto;
    width: 200px;
    border-radius: 100%;
    border-color: black;
    background-color: blue;
}
.container{

     padding: 20px 30%;
}
body{
     background-color: wheat;
     
}

li{
     font-size: medium;
     font-family: sans-serif;
     padding-top: 5px;
}
li:hover{
     font-size: larger;
     color: blue;
}
li::after{
     font-size: bold;
}

 

 
 