.img{
    width: 100px;
    border-radius: 100%;
    border-color: black;
    background-color: blue;
}

.img{
    width: 100px;
    border-radius: 100%;
    border-color: black;
    background-color: blue;
}

body{
    background-color: rgb(116, 115, 109);
}
.a{
    color: brown;
}